body {
    font-family: 'Montserrat', sans-serif !important;
    margin:0;
}

/* --------    HEADER    --------  */
#login-btn {
    width: 120px;
    height: 36px;
    background-color: #EF6969;
    border-radius: 25px;
    border:none;
}
nav {
    border-bottom: 2px solid #EF6969;
}

/* --------    HEROAREA    --------  */
#heroarea {
    font-weight: 400 !important;
    font-size: 1rem;
    color: #707070;
}
#heroarea h1 {
    font-weight: 800 !important;
    font-size: 3rem;
    letter-spacing: 3px;
}
#heroarea p {
    letter-spacing: 1px;
    line-height: 50px;
}
#viewmore-btn {
    width: 160px;
    height: 46px;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    border:none;
    text-align: center;
}

/* --------    MISSION / VISION    --------  */
#mission h4, #vision h4 {
    letter-spacing: 2px;
}
#mission p, #vision p {
    font-weight: 400 !important;
    letter-spacing: 1.4px;
    line-height: 40px;
}

/* --------    CONTACT    --------  */
#contact {
    background-color: #F4F4F4;
}
#contact #b-top {
    border-top: 1px solid #070707;
}
#contact ul {
    list-style-type: none;
}
#contact h6 {
    letter-spacing: 1.4px;
}
#contact p {
    letter-spacing: 2.2px;
}
#contact li {
    letter-spacing: 1.8px;
}



/*****   EXTRA LARGE SCREEN *****/
@media (max-width: 1200px) {
    
}

/*****   LARGE SCREEN   *****/
@media (min-width: 992px) {
    #b-left {
        border-left: 1px solid #000;
    }
}

/*****   MEDIUM SCREEN   *****/
@media (max-width: 768px) {
    #heroarea {
        text-align: center;
    }
}

/*****   SMALL SCREEN   *****/
@media (max-width: 576px) {

}